*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url(urbanloka.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;   /* PENTING */
    padding-bottom: 60px;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #FFD700;
    font-size: 35px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:black;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content span{
    color: #ff7200;
    font-size: 60px;
}


body{
    background: 
        linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("urbanloka.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}


.login-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.login-box{
    width: 300px;
    height: auto;
    background: #0d0d0d;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255,114,0,0.4);
}


.login-box .title{
    width: 100%;
    background: #fff;
    color: #ff7200;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}


.login-box input{
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff7200;
    color: #fff;
    margin-top: 20px;
    font-size: 14px;
}

.login-box input:focus{
    outline: none;
}

.login-box input::placeholder{
    color: #aaa;
}


.login-box .login-btn{
    width: 100%;
    height: 40px;
    background: #ff7200;
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    cursor: pointer;
    font-weight: bold;
}

.login-box .login-btn:hover{
    background: #fff;
    color: #000;
}


.login-box .text{
    color: #fff;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

.login-box .text a{
    color: #ff7200;
    text-decoration: none;
}


.login-box .or{
    text-align: center;
    color: #fff;
    margin-top: 15px;
    font-size: 13px;
}


.login-box .social-icons{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
}

.login-box .social-icons a{
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.login-box .social-icons a:hover{
    color: #ff7200;
}



.produk-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    padding: 0 40px;
}



.produk-box {
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s ease;
    height: 360px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.produk-box:hover {
    transform: translateY(-5px);
}


.produk-box img {
    width: 100%;
    height: 140px;
    object-fit: contain;
}




.produk-box p {
    margin: 6px 0;
    font-weight: bold;
}



.produk-box .cn {
    width: 100%;
    padding: 8px 0;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.produk-box .cn:hover {
    background: #ff7200;
}


.judul-produk{
    font-family: 'Times New Roman';
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
}

.judul-produk span{
    color: #ff7200;
    font-size: 40px;
    font-weight: bold;
}



.content h1 span {
    color: #ff7200;
    font-size: 38px;          
    font-weight: bold;
}

.nama-produk {
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0;
    color: #000;

    height: 38px;
    overflow: hidden;
}

.section-produk{
    margin-top: 120px;   
    padding-bottom: 80px;
}

.section-produk {
    margin-top: 120px;
    padding-bottom: 80px;
}

.judul-produk {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 36px;
    margin-bottom: 50px;
    color: #fff;
}

.judul-produk span {
    color: #ff7200;
    font-size: 42px;
    font-weight: bold;
}

.produk-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    padding: 0 40px;
}

.nama-produk {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    height: 38px;
    overflow: hidden;
    margin: 8px 0;
}

.harga-produk {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin-bottom: 12px;
}

.btn-produk {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-beli {
    flex: 1;
    background: orange;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-keranjang {
    flex: 1;
    background: black;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-beli:hover {
    background: darkorange;
}

.btn-keranjang:hover {
    background: #333;
}



.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 10px;
}

.cart-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
}


.cart-item {
    display: flex;
    gap: 15px;
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.cart-img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 8px;
}

.cart-info h4 {
    margin: 0 0 5px;
}

.btn-hapus {
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 8px;
}

.btn-hapus:hover {
    background: darkred;
}

